/* TOP BAR */
nav.top-bar { margin-bottom: 0px;
}

/* HOMEPAGE */

header#homepage.homeimage { background-image: url("../img/mc_1922_cut_500.png");
                            background-color: #5C845D;
                            background-position: left bottom;
                            background-repeat: no-repeat;
                            padding: 0 0 235px;
                            border-bottom: 25px solid #111111;
}
#homepage h1 { padding-top: 100px;
                float: right;
}
.small_h1 { color: #ddd;
            font-weight: 300;
            font-size: .65em;
            float: right;
            padding-top: 25px;
}
#home_content { background-color: #C5CEC4;
                margin-top: 0px;
                border-top: 1px solid #111;
}
#home_components { margin-top: 50px;
                    padding-top: 25px;
}