  <!-- HOMEPAGE SECTION -->
  <header id="homepage" class="homeimage">
    <div class="row">
      <div class="small-10 small-centered columns large-8 large-offset-4 columns">
        <h1>JavaScript and CSS make Todd holler...<br />
          <span class="small_h1">...in a good way.</span></h1>
      </div>
    </div>
  </header> <!-- end homepage header -->
  <section id="home_content">
    <div id="home_components" class="row">
      <div class="large-6 columns">
        <div class="section-container tabs" data-section="tabs">
          <!-- SKILLS SECTION -->
          <section>
            <p class="title" data-section-title><a href="#">Skills</a></p>
            <div class="content" data-section-content>
              <h4>Veteran</h4>
              <div class="progress large-12 radius"><span class="meter" style="width: 90%"></span></div>
              
              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>JavaScript</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>HTML/CSS</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>SASS/LESS</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Angular</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>AngularJS</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Vue.js</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Vuex</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Git</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Responsive Design</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Material Design</p>
                </div>
              </div> <!--end row-->

              <h4>Competent</h4>
              <div class="progress large-12 radius"><span class="meter" style="width: 60%"></span></div>
              
              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>TypeScript</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Wordpress</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>PHP</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Rails</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Ruby</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Sinatra</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Firebase</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>MongoDB</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Jenkins</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Heroku</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p></p>
                </div>
                <div class="small-4 large-4 columns">
                  <p></p>
                </div>
              </div> <!--end row-->

              <h4>Rookie</h4>
              <div class="progress large-12 radius"><span class="meter" style="width: 33%"></span></div>
              
              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>React</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>GraphQL</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Node.js</p>
                </div>
              </div> <!--end row-->

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>Mongoose</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Express.js</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>SQL</p>
                </div>
              </div> <!--end row-->


              <h4>Plan on Learning</h4>
              <div class="progress large-12 radius"><span class="meter" style="width: 1%"></span></div>

              <div class="row">
                <div class="small-4 large-4 columns">
                  <p>PostCSS</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Serverless Architectures</p>
                </div>
                <div class="small-4 large-4 columns">
                  <p>Redux</p>
                </div>               
              </div> <!--end row-->

            </div> 
          </section> <!-- end skills section -->
          <section>
            <p class="title" data-section-title><a href="#">Twitter</a></p>
            <div class="content twitter" data-section-content>
              <a class="twitter-timeline" href="https://twitter.com/ExploringOmaha" data-widget-id="256426362976473088" data-tweet-limit="6">Tweets by @ExploringOmaha</a>
              <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              </script>
            </div>
          </section> <!-- end twitter section -->
        </div>
        <div class="ocs">
          <a href="http://www.omahacodeschool.com" target="_blank">
            <img src="img/omaha_code_school_logo.png" title="Omaha Code School">
          </a>
        </div>
      </div>
      <!-- ORBIT SLIDESHOW -->
      <div class="large-6 columns slideshow">
        <h4>Past Freelance Work</h4>
        <ul data-orbit>

          <li>
            <a href="http://scratchtown.beer">
              <img src="img/scratchLogo_475.png" /></a>
            <div class="orbit-caption">Scratchtown Brewing Company</div>
          </li>

          <li>
            <a href="http://www.conceptelectricco.com">
              <img src="img/conceptLogo_475.png" /></a>
            <div class="orbit-caption">Concept Electric Co Inc.</div>
          </li>

          <li>
            <a href="http://www.srcomaha.net">
              <img src="img/SRCstandard_alt_470.png" /></a>
            <div class="orbit-caption">SRC Contractor</div>
          </li>

        </ul>
      </div> <!-- end data-orbit div -->
      <div class="large-6 columns experience">
      <h4>Relevant Experience</h4>

        <ul class="pricing-table">
          <li class="title">Front-end Developer at CRi</li>
          <li class="description">Angular, Vue.js, SCSS, and WordPress.</li>
          <li class="bullet-item">Since July 2015</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">Freelance Web Developer and Designer</li>
          <li class="description">Develop/design websites and applications while learning and learning and learning.</li>
          <li class="bullet-item">Since July 2012</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">Front-end Developer at SKAR</li>
          <li class="description">Anything having to do with CSS, JavaScript, HTML, and more.</li>
          <li class="bullet-item">December 2014 - July 2015</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">Software Developer & Consultant at Agape Red</li>
          <li class="description">Rails, JS, and more.</li>
          <li class="bullet-item">June 2014 - December 2014</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">Student at Omaha Code School</li>
          <li class="description">Learned the skills to be a full-stack web developer.</li>
          <li class="bullet-item">February 2014 - May 2014</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">DTN Websolutions Design Team Lead</li>
          <li class="description">Founded an agile custom web design team.</li>
          <li class="bullet-item">November 2013 - February 2014</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">DTN Websolutions Manager</li>
          <li class="description">Brought humanity to the group, leveraged their skills, and encouraged learning.</li>
          <li class="bullet-item">July 2013 - October 2013</li>
        </ul>

        <ul class="pricing-table">
          <li class="title">DTN Websolutions Content Specialist</li>
          <li class="description">Designed websites and graphics; and supported API's and CMS</li>
          <li class="bullet-item">May 2011 - July 2013</li>
        </ul>
      </div>
    </div>
  </section> <!-- end home_content -->