<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Todd Nichols-Omaha, NE</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/jquery.fancybox.css" />

  <script src="js/vendor/custom.modernizr.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43803967-1', 'omahaareaman.com');
  ga('send', 'pageview');

  </script>

</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- TITLE AREA -->
      <li class="name">
        <h1><a href="/">Todd Nichols</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <!-- TOP BAR SECTION -->
    <section class="top-bar-section">
      <!-- RIGHT NAV SECTION-->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#">Websites</a>
          <ul class="dropdown">
            <li><a href="http://www.conceptelectricco.com/">Concept Electric</a></li>
            <li><a href="http://www.scratchtownbrewing.com/">Scatchtown Brewery</a></li>
            <li><a href="http://www.mutchietreeservice.com/">Mutchie Tree Service</a></li>
            <li><a href="http://kgb.omahaareaman.com/">KGB Grain</a></li>
          </ul> <!-- end Website dropdown list -->
        </li>
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#">Ruby Apps</a>
          <ul class="dropdown">
            <li><label>Old Sinatra Portfolio</label></li>
            <li><a href="http://old.omahaareaman.com/">Portfolio I</a></li>
            <li><label>First Live Ruby App</label></li>
            <li><a href="http://miles-km-miles.herokuapp.com/" target="_blank">Miles/Kilometers</a></li>
            <li><label>Sinatra DTN API Apps</label></li>
            <li><a href="http://dtn-markets.herokuapp.com/">Markets</a></li>
            <li><a href="http://dtn-weather.herokuapp.com/">Weather</a></li>
            <li><a href="http://dtn-options.herokuapp.com/">Options</a></li>
            <li><label>Sinatra JavaScript App</label></li>
            <li><a href="http://omahaareaman-js.herokuapp.com/">JavaScript Testing Site</a></li>
          </ul> <!-- end Ruby App dropdown list -->
        </li>
        <li class="divider"></li>
        <li><a href="https://github.com/nivram80">GitHub</a></li>
        <li><a href="http://www.exploringomaha.com/" class="iframe" title="My Blog">Blog</a></li>
        <li><a href="mailto:nivram80@gmail.com">Contact</a></li>
      </ul>
    </section>
  </nav> <!-- end topbar nav -->

  <%= yield %>

  <footer>
    <div class="row">
      <div class="small-10 small-centered large-5 large-uncentered columns">
        <a href="https://plus.google.com/u/0/102245935826543420175/posts">
          <img src="img/google-plus.png"></a>
        <a href="http://www.linkedin.com/profile/view?id=13978451&trk=tab_pro">
          <img src="img/linkedin.png"></a>
        <a href="https://github.com/nivram80">
          <img src="img/github.png"></a>
        <a href="mailto:portfolio@omahaareaman.com">
          <img src="img/envelope.png"></a>
      </div>
      <div class="small-12 large-4 large-offset-3 columns copyright">
        Copyright &copy; 2013 Todd Nichols
      </div>
    </div>
  </footer>
<!--  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script> -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  <script src="js/vendor/eportfolio2.js"></script>
  <script src="js/vendor/jquery.fancybox.pack.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>