/* TOP BAR */
nav.top-bar { margin-bottom: 0px;
}

/* HOMEPAGE */

header#homepage.homeimage { background-image: url("../img/mc_1922_cut.png");
                            background-color: #5C845D;
                            background-position: left bottom;
                            background-repeat: no-repeat;
                            padding: 0 0 30px;
                            border-bottom: 25px solid #111111;
                            height: 375px;
}
#homepage h1 { padding-top: 50px;
                float: right;
}
.small_h1 { color: #ddd;
            font-weight: 300;
            font-size: .65em;
            float: right;
            padding-top: 25px;
}
#home_content { background-color: #C5CEC4;
                margin-top: 0px;
                border-top: 1px solid #111;
}
#home_components { margin-top: 0px;
                    padding-top: 25px;
}
.content h4 { margin-bottom: 0px;
                color: #5C845D;
                padding-top: 20px;
}
.content p { font-weight: bold;
            font-size: .75em;
}
.twitter { height: 100%;
}
.experience { margin-top: 25px;
}
.pricing-table .title { color: #5C845D;
}
footer { background-color: #111;
            padding-top: 25px;
}
footer img { padding-right: 25px;
                margin-top: -10px;
                margin-bottom: 20px;
}
.copyright { color: #fff;
            font-size: 0.8125em;
            text-align: right;
            padding-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    header#homepage.homeimage { background-image: url("../img/mc_1922_cut.png");
                                background-color: #5C845D;
                                background-position: left bottom;
                                background-repeat: no-repeat;
                                padding: 0 0 30px;
                                border-bottom: 25px solid #111111;
                                height: 550px;
    }
    #homepage h1 { padding-top: 50px;
                    font-size: 1.5em;
    }
}